@font-face {
    font-family: 'Butler';
    src: url('../webfonts/Butler-Medium.woff2') format('woff2'),
        url('../webfonts/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
